/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */


.title {
    padding: 10px 0px 22px 22px !important;

}

.nav-tabs {
    float: left;
    width: 100%;
    margin: 0;
    list-style-type: none;
    border-bottom: 1px solid transparent;
}

.nav-tabs>li {
    float: left;
    margin-bottom: 8px;
}

.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.5;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    text-decoration: none;
    font-size: 14px;
}

.nav-tabs>li>a:hover {
    border-color: #eee #eee #ddd;

}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    color: #555;
    cursor: default;
    background: #fff;
}

.tab-content>.tab-pane {
    display: none;
    float: right;
    width: 100%;
}


.tab-content>.tab-pane.active {
    display: block;
    padding-left: 10px;

    background: #ffffff;
    box-shadow: 0px 6px 6px -2px rgba(0, 0, 0, 0.15);
}

.tab-content #usajobs_rest_api_email,
#usajobs_rest_api_auth {
    width: 320px !important;
}

.about>h1 {
    font-size: 34px;
}

.about>p {
    font-size: 22px;
}

#myEmail {
    font-size: 24px;
    color: rgb(66, 66, 68);
}

#ujs-update-timer {
    position: absolute;
    top: 10%;
    left: 80%;
    padding: 5px;
    font-size: 17px;

    background: #094f55;
    color: white;
}